@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes slide-in { from { left:0; } to { left:25%; } }
@-moz-keyframes slide-in { from { left:0; } to { left:30%; } }
@keyframes slide-in { from { left:0; } to { left:30%; } }


body, html, main {
	/* important */
	height: 100%;
  width: 100%;
  margin: 0;
}
.login-button{
	background: white;
	position: absolute;
	width: 80%;
	margin-left: 10%;
	top: 20%;
	z-index: 3;
}
.navbar{
  position: fixed;
  width: 100%;
  top: -1%;
  .navbar-brand{
    opacity:0;  /* make things invisible upon start */
   -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;

   -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;

   -webkit-animation-duration:3s;
   -moz-animation-duration:3s;
   animation-duration:3s;
  }
  li{display:inline-block;}
  .login{
    text-decoration: none;
    color:white;
    font-size: 1.1em;
    margin-top: 8%;
  }
}
.cd-fixed-bg {
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
  h1{
    width: 60%;
    margin-left: 30%;
    padding-top:10%;
    color: white;
    font-size:10rem;
    opacity:0;  /* make things invisible upon start */
   -webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -moz-animation:fadeOut ease-in 1;
   animation:fadeOut ease-in 1;

   -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;

   -webkit-animation-duration:3s;
   -moz-animation-duration:3s;
   animation-duration:3s;
  }
	#slider{
		width:300px;
		height:100px;
		background: rgba(5, 5, 10, .5);
		color:white;
		padding:1%;
		position: absolute;
		left: -400px;
		top:40%;
		font-size: 3em;
		&:hover{
			left:30%;
		}

	}
	p{
		width: 60%;
    margin-left: 30%;

		a{
			text-decoration: none;
			color: white;
			font-size:4em;
			&:hover{
	 		 opacity: .7;
	 	 }
		}
		height: 100px;
		background: rgba(20, 5, 5, 0);
		opacity:0;  /* make things invisible upon start */
	 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	 -moz-animation:fadeIn ease-in 1;
	 animation:fadeIn ease-in 1;

	 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	 -moz-animation-fill-mode:forwards;
	 animation-fill-mode:forwards;

	 -webkit-animation-duration:3s;
	 -moz-animation-duration:3s;
	 animation-duration:3s;

	 }


	 }


.cd-fixed-bg.cd-bg-1 {
  margin-top: 3%;
  background-image: url("http://nathandesch.com/wp-content/uploads/2014/11/07-7939-post/Doylestown-wedding-photography-18-of-66.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("https://weminoredinfilm.files.wordpress.com/2013/06/will-ferrell-in-wedding-crashers-will-ferrell-18126324-1280-720.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("http://charleston-wedding-packages.com/images/angel-oak-2.jpg");
}

.calendar-container-div{

	h1{
		width: 60%;
		margin:auto;
	}
}
.calendar-main-page{
	margin-bottom: 5%;
}
.cd-scrolling-bg {
	min-height: 100%;

  .block{
    vertical-align: top;
    max-width: 30%;
    display: inline-block;
    margin-left: 2%;
    img{
      width: 100%;
    }
    h1{
      width: 100%;
    }
		text-align: center;
  }

}
.wrapper{
  display: block;
}
.display-none{
  display: none;
}
//register-page
.register-form{
	padding-top: 10%;
	text-align: center;
	width: 90%;
	.glyphicon-arrow-right{
		font-size: 3em;
		&:hover{
			opacity: .5;
		}
	}
}
.login-main-page{
	margin-top: 10%;
	width: 90%;
	margin-left: 5%;
}
//admin page-------------------------------------------------------//
.nav-column{
	.nav-tabs {
	margin-top: 20%;
  float: left;
  border-bottom: 0;
  li {
    float: none;
    margin-bottom: 3%;
		p{
			display: none;
		}
		&:hover p{
			display: block;
		}
    a {
      margin-right: 0;
      border: 0;
      background-color: #333;

      &:hover {
        background-color: #444;
      }

    }
  }

  .glyphicon {
    color: #fff;
		font-size: 2em;
  }

  .active .glyphicon {
    color: #333;
  }
}
}
.animate-show.ng-hide-add{
	transition: all linear 0;
}

.animate-show.ng-hide-remove {
  transition: all linear 1s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 5 5px;
}
//create-wedding------------------------------------------/
.wrapper-create-wedding{
	width: 100%;
	height: 1000px;
	background-image: url('http://www.mycity-web.com/wp-content/uploads/2015/03/Thavorn_Wedding_Phuket_Romantic_Beachside.jpg');
	position: absolute;
}


.admin-form{

	background: rgba(5, 5, 10, .5);
 	width: 90%;
 	margin:auto;
 	margin-top: 10%;
 	border-radius: 25px;
	z-index: 2;
	width: 100%;
	text-align: center;
	h1{
		color:white;
	}
	.form-group{
		padding-top: 5%;
		width: 80%;
		margin: auto;
		font-size: 1.5em;
		.calendar-p{
			display: inline-block;
			.calendar-span{
				padding-right: 80%;
			}
		}
		input{
			float: left;
			width: 65%;
		}

	}
	.glyphicon-arrow-right{
		font-size: 4em;
		top: 100%;
		&:hover{
			color:green;
		}
	}
	button{
		border-color: green;
	}
#submit-new-admin{
	margin-top: 10%;
	margin-bottom: 10%;
	font-size: 2em;
	a{
		text-decoration: none;
	}
}
}
//calendar
.main-calendar{
	margin-top: 2%;
}
//notifications
.notifications-div{
	background-color: white; //tan
	margin-top: 5%;
	border: 1px solid #89bdd3; //dark blue
	.form-group-notifications{
		width: 90%;
		margin-left: 5%;
		margin-top: 5%;
		padding: 1%;
		background-color: #9ad3de; //light blue

	}
	#title-notifications{
		font-size: 3em;
	}

	.checkboxes-notifications{
		margin-left: 5%;
		.form-group{
			display: block;
		}
	}

.admin-notifications-container{
	margin-top: 5%;

}
.admin-notifications{
	display: inline-block;
	color:white;
	background-color: #c9c9c9; //grey
	margin:1%;
	border-radius: 3%;
	h1{
		font-size: 2em;
	}
	.glyphicon-remove{
		color:white;
	}
}
}
//landing page
.landing-page-container{
	width: 100%;
	margin: 0;
	padding: 0;
	.top-horizontal-bar{
		position: absolute;
		width: 100%;
		height: 0;
		border-top: 100px solid black;
		border-right: 1500px solid transparent;
	}
	.bottom-horizontal-bar{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 0;
		border-bottom: 100px solid black;
		border-left: 1500px solid transparent;
	}
.landing-page{
	width: 80%;
	margin: auto;
	margin-top: 10%;
	text-align: center;
	.landing-page-options{
		display: inline-block;
		width: 40%;
		margin: auto;
		margin: 3%;
		border: solid #c9c9c9 3px;
		padding: 5%;
		text-align: center;
		a{
			text-decoration: none;
			font-size: 3em;
			color:black;
			font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			font-style: normal;
			font-variant: normal;
			font-weight: 500;
			line-height: 26.4px;
		}
		&:hover{
			opacity: .5;
		}
	}
}
}
