@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes slide-in { from { left:0; } to { left:25%; } }
@-moz-keyframes slide-in { from { left:0; } to { left:30%; } }
@keyframes slide-in { from { left:0; } to { left:30%; } }

@mixin breakpoint($point) {

  @if $point == mama-bear {
    @media (max-width: 1000px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 650px)  { @content; }
  }
}
.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
body, html, main {
	/* important */
	height: 100%;
  width: 100%;
  margin: 0;
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}
.login-button{
	background: white;
	position: absolute;
	width: 80%;
	margin-left: 10%;
	top: 20%;
	z-index: 3;
}
.navbar{
  position: fixed;
  width: 100%;
  top: -1%;
	.navbar-right{
		padding-right: 2%;
	}
  .navbar-brand{
    opacity:0;  /* make things invisible upon start */
   -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;

   -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;

   -webkit-animation-duration:3s;
   -moz-animation-duration:3s;
   animation-duration:3s;
  }
  li{display:inline-block;}
  .login{
    text-decoration: none;
    color:white;
    font-size: 1.1em;
    margin-top: 8%;
  }
}
.cd-fixed-bg {
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
  h1{
    width: 60%;
    margin-left: 30%;
    padding-top:10%;
    color: white;
    font-size:10rem;
    opacity:0;  /* make things invisible upon start */
   -webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -moz-animation:fadeOut ease-in 1;
   animation:fadeOut ease-in 1;

   -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;

   -webkit-animation-duration:3s;
   -moz-animation-duration:3s;
   animation-duration:3s;
  }
	#slider{
		width:300px;
		height:100px;
		background: rgba(5, 5, 10, .5);
		color:white;
		padding:1%;
		position: absolute;
		left: -400px;
		top:40%;
		font-size: 3em;
		&:hover{
			left:30%;
		}

	}
	p{
		width: 60%;
    margin-left: 30%;

		a{
			text-decoration: none;
			color: white;
			font-size:4em;
			&:hover{
	 		 opacity: .7;
	 	 }
		}
		height: 100px;
		background: rgba(20, 5, 5, 0);
		opacity:0;  /* make things invisible upon start */
	 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	 -moz-animation:fadeIn ease-in 1;
	 animation:fadeIn ease-in 1;

	 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	 -moz-animation-fill-mode:forwards;
	 animation-fill-mode:forwards;

	 -webkit-animation-duration:3s;
	 -moz-animation-duration:3s;
	 animation-duration:3s;

	 }


	 }


.cd-fixed-bg.cd-bg-1 {
  margin-top: 3%;
  background-image: url("http://nathandesch.com/wp-content/uploads/2014/11/07-7939-post/Doylestown-weddiphotography-18-of-66.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("https://weminoredinfilm.files.wordpress.com/2013/06/will-ferrell-in-weddicrashers-will-ferrell-18126324-1280-720.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("http://charleston-wedding-packages.com/images/angel-oak-2.jpg");
}

.cd-container{
	h1{
		width: 60%;
		margin:auto;
	}
}
.calendar-main-page{
	margin-bottom: 5%;
}
.cd-scrolling-bg {
	min-height: 100%;

  .block{
    vertical-align: top;
    max-width: 30%;
    display: inline-block;
    margin-left: 2%;
    img{
      width: 100%;
    }
    h1{
      width: 100%;
    }
		text-align: center;
  }

}
.wrapper{
  display: block;
}
.display-none{
  display: none;
}
//register-page
.register-form{
	padding-top: 10%;
	text-align: center;
	width: 90%;
	.glyphicon-arrow-right{
		font-size: 3em;
		&:hover{
			opacity: .5;
		}
	}
}
.login-main-page{
	margin-top: 10%;
	width: 90%;
	margin-left: 5%;
}
.fc-widget-content{
	font-family: serif;
}
//admin page-------------------------------------------------------//

.form-add-users{
	margin-left: 10%;
	width: 80%;
	margin-top: 10%;
	input{
		width: 100%;
	}
}


.individual-guests{
					@include breakpoint(mama-bear){
						position: absolute;
						margin-top:10%;
						padding-top:5%;
					}

	margin-top: 10%;
	padding-left: 10%;
	height: 100%;
	button{
		position: absolute;
		right: 50%;
		top:2%;
	}
}
.repeat-guests{
	transition: all 0.5s ease;
	max-width: 40%;
	font-size: 1.6em;
	display: inline-block;
	border: solid #3b3a36 3px;
	margin: 1%;
	padding: 2%;
	border-radius: 4px;
	color:#3b3a36;
	background-color: #e9ece5;
	a,p{display: inline}
	a{opacity: 0;
		&:hover{opacity: .8;}
	}
	.question,.span-options{
		display: none;
	}
}
.large-class{
	transition: all 0.5s ease;
	width: 80%;
	font-size: 3em;
	font-weight: 500;
	line-height: 35px;
	.question,.span-options{
		display: block;
		span:hover{color:black;}
	}
	.span-options{
		width:60%;
		margin: auto;
		span{
			margin-left: 20%;
		}
	}
	.username,a{
		display: none;
	}
}
.user-admin-directives{
	margin-left: 10%;
	margin-top: 5%;
}
.nav-column{
	margin-top: 10%;
	position: fixed;
	.nav-tabs {
	margin-top: 20%;
  float: left;
  border-bottom: 0;
  li {
    float: none;
    padding-bottom: 3%;
		transition: all 0.5s ease;
		height: 80px;

		p{
			display: none;
			transition: all 0.5s ease;
			font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			font-style: normal;
			font-variant: normal;
			font-weight: 500;
			line-height: 26.4px;
		}
		&:hover p{
			display: block;
		}
    a {
      margin-right: 0;
      border: 0;
      background-color: #333;
			transition: all 0.5s ease;

      &:hover {
        background-color: #444;
      }

    }
  }

  .glyphicon {
    color: #fff;
		font-size: 2em;
  }

  .active .glyphicon {
    color: #333;
  }
}
}

//create-wedding------------------------------------------/
.wrapper-create-wedding{
	width: 100%;
	height: 1000px;
	background-image: url('http://www.mycity-web.com/wp-content/uploads/2015/03/Thavorn_Wedding_Phuket_Romantic_Beachside.jpg');
	position: absolute;
}

uib-slide img{
	max-width: 10%;
}
.admin-form{

	background: rgba(5, 5, 10, .5);
 	width: 90%;
 	margin:auto;
 	margin-top: 10%;
 	border-radius: 25px;
	z-index: 2;
	width: 100%;
	text-align: center;
	h1{
		color:white;
	}
	.form-group{
		padding-top: 5%;
		width: 80%;
		margin: auto;
		font-size: 1.5em;
		.calendar-p{
			display: inline-block;
			.calendar-span{
				padding-right: 80%;
			}
		}
		input{
			float: left;
			width: 65%;
			border-radius: 5px;
		}

	}
	.glyphicon-arrow-right{
		font-size: 4em;
		top: 100%;
		&:hover{
			color:green;
		}
	}
	button{
		border-color: green;
	}
#submit-new-admin{
	margin-top: 10%;
	margin-bottom: 10%;
	font-size: 2em;
	a{
		text-decoration: none;
	}
}
}
// calendar


.calendar-repeat-events{
	transition: all .2s ease;
	max-height: 20px;
	.other-text-calendar{
		transition: all .1s ease;
		visibility:hidden;
	}
	&:hover{
		margin-bottom: 200px;
		.other-text-calendar{
			visibility: visible;
		}
	}
}


.main-calendar{
	margin-top: 2%;
	@include breakpoint(mama-bear){
		width:80%;
		margin-top: 15%;
	}

}
//ations

.form-group-notifications{
	@include breakpoint(mama-bear){
	width:80%;}
	box-shadow: 10px 10px 5px #888888;
	height: 10%;
	margin-left: 10%;
	width: 100%;
	border: solid black 3px;
	border-radius: 5px;
	.glyphicon-remove{
		color:black;
		font-size: 1.8em;
		opacity: .7;
		float: right;
		&:hover{
			opacity: .5;
		}
	}
	.notification-input{
		input{
				@include breakpoint(mama-bear){
				width:15em;}
			width: 25em;
			font-size: 2em;
			border: none;
			outline: none;
		}
	}
	.checkboxes-notifications{
		padding: 2%;
		height: 100px;
		border-right: solid #DADADA 1px;
		border-radius: 5px;
		.form-group{
			display: block;
		}
	}

}
.admin-notifications-container{
	background-image: url('https://unsplash.com/photos/xMScfzgJ7_c'); //tan
	width: 80%;
	margin-left: 20%;
	margin-top: 5%;
	margin-bottom: 30%;

}
.admin-notifications{
	h4,h1{	transition: all .5s ease-in-out;
}
	transition: all 1s ease-in-out;
	&:hover{
		// transform: rotate(360deg);
		width: 500px;
		h1{
		font-size: 4em;
		}
		h4{
			font-size: .8em;
		}
	}
	.tip-left{
		width: 0px;
  	height: 0px;
  	position: absolute;
  	background: transparent;
  	border: 10px solid #ccc;
		top: 10px;
  	left: -25px;
  	border-top-color: transparent;
  	border-left-color: transparent;
  	border-bottom-color: transparent;
	}
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	position: relative;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #6ed3cf;
	max-width: 60%;
	h1{
		font-size: .1em;
		margin: 0;
		height: auto;
		max-width: 100%;
	}
	h4{
		font-size: 3em;
		margin: 0;
		height: auto;
		max-width: 100%;
	}
	.glyphicon-remove{
		color:black;
	}
}

.full-page-div-form{
	width: 100%;
}


//landing page
.landing-page-container{
	width: 100%;
	margin: 0;
	padding: 0;
	.top-horizontal-bar{
		position: absolute;
		width: 100%;
		height: 0;
		border-top: 100px solid black;
		border-right: 1500px solid transparent;
	}
	.bottom-horizontal-bar{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 0;
		border-bottom: 100px solid black;
		border-left: 1500px solid transparent;
	}
.landing-page-create-wedding{
	width: 50%;
	margin: auto;
	border: solid #c9c9c9 3px;
	padding: 5%;
	text-align: center;
	a{
		text-decoration: none;
		font-size: 3em;
		color:black;
		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
	}
	&:hover{
		opacity: .5;
	}
}
.landing-page{
	width: 80%;
	margin: auto;
	margin-top: 10%;
	text-align: center;
	.landing-page-options{
		display: inline-block;
		width: 40%;
		margin: auto;
		margin: 3%;
		border: solid #c9c9c9 3px;
		padding: 5%;
		text-align: center;
		a{
			text-decoration: none;
			font-size: 3em;
			color:black;
			font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			font-style: normal;
			font-variant: normal;
			font-weight: 500;
			line-height: 26.4px;
		}
		&:hover{
			opacity: .5;

		}
	}
}
}
.story-directive-container{
	.our-story-div,.our-story-div-button{
		margin-top: 5%;
		margin-left: 15%;
		margin-bottom: 5%;
	}
	.story-text-editor{
		margin-left: 5%;
	}

}
