@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slideOut {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-200%); } }

@-moz-keyframes slideOut {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-200%); } }

@keyframes slideOut {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-200%); } }

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0%); } }

@-moz-keyframes slideIn {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0%); } }

@keyframes slideIn {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0%); } }

.animate-enter {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  opacity: 0; }

body, html, main {
  /* important */
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

.login-button {
  background: white;
  position: absolute;
  width: 80%;
  margin-left: 10%;
  top: 20%;
  z-index: 3; }

.navbar {
  position: fixed;
  width: 100%;
  top: -1%; }
  @media (max-width: 550px) {
    .navbar .navbar-header {
      margin-bottom: 10%;
      margin-left: 30%; } }
  .navbar .navbar-header .hamburger {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin-top: 11%; }
    @media (max-width: 770px) {
      .navbar .navbar-header .hamburger {
        margin-left: 20px; } }
    @media (max-width: 550px) {
      .navbar .navbar-header .hamburger {
        float: right; } }
  .navbar .navbar-header a {
    display: inline-block; }
    @media (max-width: 770px) {
      .navbar .navbar-header a {
        display: block; } }
  @media (max-width: 550px) {
    .navbar .navbar-header {
      display: inline-block; } }

.navbar-right {
  padding-right: 2%; }
  @media (max-width: 770px) {
    .navbar-right {
      float: right;
      display: inline-block;
      margin-top: -10%; } }
  @media (max-width: 550px) {
    .navbar-right {
      float: left;
      width: 80%;
      margin-left: 30%; } }
  @media (max-width: 550px) {
    .navbar-right .glyphicon-user-li {
      float: left;
      margin-left: -15%; } }

.navbar-brand {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s; }
  @media (max-width: 550px) {
    .navbar-brand {
      width: 100px; } }

@media (max-width: 550px) {
  .invitee-name {
    width: 80%;
    margin-left: 20%;
    margin-bottom: 5%; } }

.cd-fixed-bg {
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }
  .cd-fixed-bg h1 {
    width: 60%;
    margin-left: 30%;
    padding-top: 10%;
    color: white;
    font-size: 10rem;
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeOut ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeOut ease-in 1;
    animation: fadeOut ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s; }
  .cd-fixed-bg #slider {
    width: 300px;
    height: 100px;
    background: rgba(5, 5, 10, 0.5);
    color: white;
    padding: 1%;
    position: absolute;
    left: -400px;
    top: 40%;
    font-size: 3em; }
    .cd-fixed-bg #slider:hover {
      left: 30%; }
  .cd-fixed-bg p {
    width: 60%;
    margin-left: 30%;
    height: 100px;
    background: rgba(20, 5, 5, 0);
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s; }
    .cd-fixed-bg p a {
      text-decoration: none;
      color: white;
      font-size: 4em; }
      .cd-fixed-bg p a:hover {
        opacity: .7; }

.cd-fixed-bg.cd-bg-1 {
  margin-top: 3%;
  background-image: url("http://nathandesch.com/wp-content/uploads/2014/11/07-7939-post/Doylestown-weddiphotography-18-of-66.jpg"); }

.cd-fixed-bg.cd-bg-2 {
  background-image: url("https://weminoredinfilm.files.wordpress.com/2013/06/will-ferrell-in-weddicrashers-will-ferrell-18126324-1280-720.jpg"); }

.cd-fixed-bg.cd-bg-3 {
  background-image: url("http://charleston-wedding-packages.com/images/angel-oak-2.jpg"); }

.cd-container h1 {
  width: 60%;
  margin: auto; }

.calendar-main-page {
  margin-bottom: 5%; }

.cd-scrolling-bg {
  min-height: 100%; }
  .cd-scrolling-bg .block {
    vertical-align: top;
    max-width: 30%;
    display: inline-block;
    margin-left: 2%;
    text-align: center; }
    .cd-scrolling-bg .block img {
      width: 100%; }
    .cd-scrolling-bg .block h1 {
      width: 100%; }

.wrapper {
  display: block; }

.display-none {
  display: none; }

.register-form {
  padding-top: 10%;
  text-align: center;
  width: 90%; }
  @media (max-width: 550px) {
    .register-form {
      margin-top: 100px; } }
  .register-form .glyphicon-arrow-right {
    font-size: 3em; }
    .register-form .glyphicon-arrow-right:hover {
      opacity: .5; }

.login-main-page {
  margin-top: 10%;
  width: 90%;
  margin-left: 5%; }
  @media (max-width: 770px) {
    .login-main-page {
      margin-top: 100px; } }
  @media (max-width: 550px) {
    .login-main-page {
      margin-top: 150px; } }

.fc-widget-content {
  font-family: serif; }

.form-add-users {
  margin-left: 10%;
  width: 80%;
  margin-top: 100px; }
  .form-add-users input {
    width: 100%; }

.individual-guests {
  margin-top: 10%;
  padding-left: 10%;
  height: 100%; }
  @media (max-width: 1000px) {
    .individual-guests {
      position: absolute;
      margin-top: 10%;
      padding-top: 40px; } }
  @media (max-width: 550px) {
    .individual-guests {
      position: absolute;
      margin-left: 20%;
      margin-top: 100px; } }
  .individual-guests button {
    position: absolute;
    left: 50%;
    top: 2%; }

.repeat-guests {
  transition: all 0.5s ease;
  max-width: 40%;
  font-size: 1.6em;
  display: inline-block;
  border: solid #3b3a36 3px;
  margin: 1%;
  padding: 2%;
  border-radius: 4px;
  color: #3b3a36;
  background-color: #e9ece5; }
  @media (max-width: 550px) {
    .repeat-guests {
      display: block;
      font-size: 4em;
      line-height: 50px;
      background-color: white;
      border: solid white 0px;
      border-bottom: solid black 1px;
      border-radius: 0px; } }
  .repeat-guests a, .repeat-guests p {
    display: inline; }
  .repeat-guests a {
    opacity: 0; }
    .repeat-guests a:hover {
      opacity: .8; }
  .repeat-guests .question, .repeat-guests .span-options {
    display: none; }

.large-class {
  transition: all 0.5s ease;
  width: 80%;
  font-size: 3em;
  font-weight: 500;
  line-height: 35px; }
  @media (max-width: 550px) {
    .large-class {
      left: 5%;
      top: 5%;
      font-size: 3em;
      width: 400px; } }
  .large-class .question, .large-class .span-options {
    display: block; }
    @media (max-width: 550px) {
      .large-class .question, .large-class .span-options {
        max-width: 400px;
        padding-right: 0; } }
    .large-class .question span:hover, .large-class .span-options span:hover {
      color: black; }
  .large-class .span-options {
    width: 60%;
    margin: auto; }
    .large-class .span-options span {
      margin-left: 20%; }
  .large-class .username, .large-class a {
    display: none; }

.user-admin-directives {
  transition: all 2s ease;
  margin-left: 10%;
  margin-top: 5%; }

@media (max-width: 770px) {
  .non-nav-wrapper {
    margin-top: 120px; } }

.nav-column {
  border-right: ridge #9fa8a3 5px;
  width: 10%;
  transition: all 2s ease;
  margin-top: 50px;
  position: fixed; }
  @media (max-width: 1000px) {
    .nav-column {
      border-right: solid white 0px; } }
  .nav-column .nav-tabs {
    margin-top: 20%;
    float: left;
    border-bottom: 0; }
    .nav-column .nav-tabs li {
      float: none;
      padding-bottom: 3%;
      transition: all 0.5s ease;
      height: 80px; }
      .nav-column .nav-tabs li p {
        display: none;
        transition: all 0.5s ease;
        font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px; }
      .nav-column .nav-tabs li:hover p {
        display: block; }
      .nav-column .nav-tabs li a {
        margin-right: 0;
        border: 0;
        background-color: #333;
        transition: all 0.5s ease; }
        .nav-column .nav-tabs li a:hover {
          background-color: #444; }
    .nav-column .nav-tabs .glyphicon {
      color: #fff;
      font-size: 2em; }
    .nav-column .nav-tabs .active .glyphicon {
      color: #333; }

.slide-out {
  -webkit-animation: slideOut ease-in 1;
  /* call our keyframe named slideOut, use animattion ease-in and repeat it only 1 time */
  -moz-animation: slideOut ease-in 1;
  animation: slideOut ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.slide-in {
  -webkit-animation: slideIn ease-in 1;
  /* call our keyframe named slideIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: slideIn ease-in 1;
  animation: slideIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.expand-div {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%; }

.wrapper-create-wedding {
  width: 100%;
  height: 1000px;
  background-image: url("http://www.mycity-web.com/wp-content/uploads/2015/03/Thavorn_Wedding_Phuket_Romantic_Beachside.jpg");
  position: absolute; }

.button-add-invitees {
  margin-top: 50px;
  margin-bottom: 5px; }

uib-slide img {
  max-width: 10%; }

.admin-form {
  background: rgba(5, 5, 10, 0.5);
  width: 90%;
  margin: auto;
  margin-top: 10%;
  border-radius: 25px;
  z-index: 2;
  width: 100%;
  text-align: center; }
  .admin-form h1 {
    color: white; }
  .admin-form .form-group {
    padding-top: 5%;
    width: 80%;
    margin: auto;
    font-size: 1.5em; }
    .admin-form .form-group .calendar-p {
      display: inline-block; }
      .admin-form .form-group .calendar-p .calendar-span {
        padding-right: 80%; }
    .admin-form .form-group input {
      float: left;
      width: 65%;
      border-radius: 5px; }
  .admin-form .glyphicon-arrow-right {
    font-size: 4em;
    top: 100%; }
    .admin-form .glyphicon-arrow-right:hover {
      color: green; }
  .admin-form button {
    border-color: green; }
  .admin-form #submit-new-admin {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 2em; }
    .admin-form #submit-new-admin a {
      text-decoration: none; }

@media (max-width: 550px) {
  .main-calendar .span4 {
    display: none; } }

@media (max-width: 550px) {
  .main-calendar {
    margin-top: 100px; } }

@media (max-width: 550px) {
  .main-calendar .btn-success {
    width: 80%;
    margin-bottom: 5px; } }

.calendar-repeat-events {
  transition: all 0.2s ease;
  max-height: 20px; }
  .calendar-repeat-events .other-text-calendar {
    transition: all 0.1s ease;
    visibility: hidden; }
  .calendar-repeat-events:hover {
    margin-bottom: 200px; }
    .calendar-repeat-events:hover .other-text-calendar {
      visibility: visible; }

.endar {
  margin-top: 2%; }
  @media (max-width: 1000px) {
    .endar {
      width: 80%;
      margin-top: 15%; } }

.timeline {
  margin-top: 100px; }
  @media (max-width: 550px) {
    .timeline {
      width: 80%;
      margin-left: 30px; } }

.form-group-notifications {
  box-shadow: 10px 10px 5px #888888;
  height: 150px;
  margin-left: 10%;
  width: 100%;
  border: solid black 3px;
  border-radius: 100px;
  margin-top: 80px; }
  @media (max-width: 1000px) {
    .form-group-notifications {
      width: 80%; } }
  @media (max-width: 770px) {
    .form-group-notifications {
      width: 80%; } }
  .form-group-notifications .glyphicon-remove {
    color: black;
    font-size: 1.8em;
    opacity: .7;
    float: right; }
    .form-group-notifications .glyphicon-remove:hover {
      opacity: .5; }
  .form-group-notifications .notification-input input {
    width: 25em;
    font-size: 2em;
    border: none;
    outline: none; }
    @media (max-width: 1000px) {
      .form-group-notifications .notification-input input {
        width: 15em; } }
    @media (max-width: 770px) {
      .form-group-notifications .notification-input input {
        margin-top: 5%;
        margin-left: 5%; } }
    @media (max-width: 550px) {
      .form-group-notifications .notification-input input {
        width: 8em; } }
  .form-group-notifications .checkboxes-notifications {
    width: 50px;
    padding: 2%;
    height: 100%;
    border-right: solid #DADADA 1px;
    border-radius: 100px; }
    @media (max-width: 770px) {
      .form-group-notifications .checkboxes-notifications {
        display: inline;
        border-bottom: solid #DADADA 1px;
        width: 30%;
        margin-left: 20%; } }
    .form-group-notifications .checkboxes-notifications .form-group {
      display: block; }
      @media (max-width: 770px) {
        .form-group-notifications .checkboxes-notifications .form-group {
          display: inline; } }

.admin-notifications-container {
  background-image: url("https://unsplash.com/photos/xMScfzgJ7_c");
  width: 80%;
  margin-left: 20%;
  margin-top: 100px;
  margin-bottom: 30%; }

.admin-notifications {
  transition: all 1s ease-in-out;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  position: relative;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #6ed3cf;
  max-width: 60%; }
  .admin-notifications h4, .admin-notifications h1 {
    transition: all 0.5s ease-in-out; }
  .admin-notifications:hover {
    width: 500px; }
    .admin-notifications:hover h1 {
      font-size: 4em; }
    .admin-notifications:hover h4 {
      font-size: .8em; }
  .admin-notifications .tip-left {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  .admin-notifications h1 {
    font-size: .1em;
    margin: 0;
    height: auto;
    max-width: 100%; }
  .admin-notifications h4 {
    font-size: 3em;
    margin: 0;
    height: auto;
    max-width: 100%; }
  .admin-notifications .glyphicon-remove {
    color: black; }

.full-page-div-form {
  width: 100%; }

.carousel-wrapper-div {
  margin-left: 10%; }
  @media (max-width: 1000px) {
    .carousel-wrapper-div {
      margin-top: 150px; } }
  @media (max-width: 550px) {
    .carousel-wrapper-div {
      margin-left: 50px; } }
  .carousel-wrapper-div .carousel {
    width: 80%; }
  .carousel-wrapper-div .btn-file {
    position: relative;
    overflow: hidden;
    background-color: silver; }
  .carousel-wrapper-div .btn-file input[type='file'] {
    background-color: silver; }

.landing-page-container {
  width: 100%;
  margin: 0;
  padding: 0; }
  .landing-page-container .top-horizontal-bar {
    position: absolute;
    width: 100%;
    height: 0;
    border-top: 100px solid black;
    border-right: 1500px solid transparent; }
  .landing-page-container .bottom-horizontal-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 100px solid black;
    border-left: 1500px solid transparent; }
  .landing-page-container .landing-page-create-wedding {
    width: 50%;
    margin: auto;
    border: solid #c9c9c9 3px;
    padding: 5%;
    text-align: center; }
    .landing-page-container .landing-page-create-wedding a {
      text-decoration: none;
      font-size: 3em;
      color: black;
      font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      line-height: 26.4px; }
    .landing-page-container .landing-page-create-wedding:hover {
      opacity: .5; }
  .landing-page-container .landing-page {
    width: 80%;
    margin: auto;
    margin-top: 10%;
    text-align: center; }
    .landing-page-container .landing-page .landing-page-options {
      display: inline-block;
      width: 40%;
      margin: auto;
      margin: 3%;
      border: solid #c9c9c9 3px;
      padding: 5%;
      text-align: center; }
      .landing-page-container .landing-page .landing-page-options a {
        text-decoration: none;
        font-size: 3em;
        color: black;
        font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px; }
      .landing-page-container .landing-page .landing-page-options:hover {
        opacity: .5; }

.story-directive-container .our-story-div, .story-directive-container .our-story-div-button {
  margin-top: 150px;
  margin-left: 20%;
  margin-bottom: 5%; }

.story-directive-container .story-text-editor {
  margin-left: 5%; }
