<div class="container create-wedding ">
  <form class="wedding-form" action="index.html" method="post">
    <div class="wedding-sign-up">
      <h1>What is your unique Wedding Name?</h1>
      <input type="text" name="name" placeholder="Wedding Name"value="">
      <span ng-click=""class = "glyphicon glyphicon-arrow-right"></span>
    </div>
    <div class="wedding-sign-up">
      <span ng-click=""class = "glyphicon glyphicon-arrow-right"></span>
    </div>
    <div class="wedding-sign-up">
      <span ng-click=""class = "glyphicon glyphicon-arrow-right"></span>
    </div>
    <div class="wedding-sign-up">
      <span ng-click=""class = "glyphicon glyphicon-arrow-right"></span>
    </div>
  </form>
</div>
