<div class="carousel-wrapper-div">
  <form ng-show = "isCurrentIndex(7)"class="photo-upload-admin" enctype= "multipart/form-data" action="/photo-upload" method="post">
<span class = "btn btn-default btn-file">
  <input type="file" name="pic" accept="image/*">
  <input type="button" name="name" value="{{weddingId}}">
</span>
  <input type="submit">
</form>
  <div>
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
      </uib-slide>
    </uib-carousel>
  </div>

</div>
