<div class="carousel-wrapper-div">
  <span ng-class = "{'red':true}" ng-init = "slideUp = true"ng-click = "slideUp = !slideUp;console(slideUp)"class = "glyphicon glyphicon-upload"></span>
  <div>
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
      </uib-slide>
    </uib-carousel>
  </div>
  <div ng-class = "{'slide-up':slideUp,'slide-down':!slideUp}"class="upload-photo-form-div container-fluid">
    <form class="photo-upload-admin" enctype= "multipart/form-data" action="/photo-upload" method="post">
  <span class = "btn btn-default btn-file">
    <input type="file" name="pic" accept="image/*">
    <input type="hidden" name="weddingId" value="{{weddingId}}">
    <input type="hidden" name="userId" value="{{userId}}">
  </span>
    <input ng-click = "getPhotoSlides()"type="submit">
  </form>
  </div>
</div>
