
<div ng-show = "hide" class=" individual-guests">
<button ng-click = "hide = false" type="button" name="button">Invite More Guests</button>

  <div ng-class = 'myVar'class="repeat-guests" ng-repeat ="guest in guests">
    <a><span ng-click = "myVar='large-class'"class="glyphicon glyphicon-remove"></span></a>
    <p class = "question">Are you sure you want to delete {{guest.username}} from contacts ?
      <br>
      <div class="span-options">
        <span ng-click = "myVar = ''"class="glyphicon glyphicon-remove"></span>
        <span ng-click = "removeUser(guest._id,$index); MyVar = ''"class="glyphicon glyphicon-check"></span>
      </div>
        </p>

    <p class = 'username'>
      {{guest.username}}
    </p>
  </div>
</div>

  <form class = "form-add-users"ng-init = "hide = true" ng-hide= "hide" role = "form"class="form">
    <div class="form-group">
      <input type="text" ng-model = "inviteName"name="name" placeholder="First & Last Name"value="">
    </div>
    <div class="form-group">
      <input type="email" ng-model = "inviteEmail"placeholder="john@email.com"name="name" value="">
    </div>
    <div class="form-group buttons">
      <button type="button" ng-click = "inviteUser(inviteName,inviteEmail);inviteEmail = '';inviteName = ''"class = "btn btn-sm" name="button">Invite</button>
      <button ng-click = "hide = true"class = "btn btn-xs"type="button" name="button">Close</button>
    </div>
  </form>
