<div ng-controller = "NotControllers" class="notifications-div col-md-12">

<div class=" admin-notifications-container">
  <div class = "admin-notifications" ng-repeat = "not in notifications">
    <a class="close" ng-click="deleteNot(not)"><span class="glyphicon glyphicon-remove"></span></a>
    <h4> {{formatDate(not.time)}}</h4>
    <h1>
      {{not.title}}
    </h1>
  </div>
</div>
<form class="formborder form-inline form-group-notifications">
  <div class="notification-input form-group">
    <input placeholder="Send a notification" type="text" ng-model ="title" name="name" value="">
  </div>

<div class="form-group checkboxes-notifications">
  <h5>Send as <small>:</small></h5>
  <form class = "form-group"role = 'form'>
    <div class="form-group checkbox">
      <label><input type="checkbox" ng-model = "email"value="">Email</label>
    </div>
    <div class=" form-group check box">
        <label><input type="checkbox" ng-model = "text"value="">Text</label>
      </div>
    <div class=" form-group checkbox">
        <label><input type="checkbox" ng-model = "notification"value="">App</label>
    </div>
</div>
<div class="form-group button">
  <input class="btn btn-default" type = "submit"ng-click = "postNot();title = ''"name="button"></input>
</div>
</form>
</div>
